@charset "utf-8";

.mainimg {
	background:url(../images/about/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg h1 img {
	width:60%;
}

#contents h2 { margin:3em 0 0; padding:0;}

/* .aboutArea */
.aboutArea {
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	letter-spacing:1px;
}
.txt.fo18 {
	font-size:2.6rem;
	line-height:2em;
	margin-bottom:3em;
}
.txt.fo18 br { display:none;}
.aboutArea .txt {
	line-height:2.05;
	margin:2em 0 3em;
	position:relative;
	letter-spacing:2px;
}
.aboutArea .txtArea {
	width:100%;
	clear:both;
	margin-bottom:1.5em;
	font-size:2.2rem;
}
.aboutArea .txtArea p {
	line-height:1.8;
	padding:20px 0 5px;
}
.aboutArea .img {
	width:100%;
	clear:both;
	padding-bottom:72px;
}
.aboutArea .img li:first-child { margin-left:0;}
.aboutArea .img li {
	width:30%;
	float:left;
	margin-left:5%;
}
.aboutArea .img .pb22 {
	padding-bottom:22px;
}
.aboutArea .cont {
	width:100%;
	clear:both;
	padding-bottom:2em;
}
.aboutArea .cont .img2 {
	float:right;
	width:48%;
	padding:2em 0;
	margin-left:3%;
}
.aboutArea .cont .pt15 {
	display:block;
	float:none;
}
.aboutArea .img3 li:first-child {
	width:64%;
}
.aboutArea .img4 li {
	width:47.5%;
}
.aboutArea .cont div {
	float:left;
	padding:2px 0 0;
}
.aboutArea .txt2 {
	line-height:1.8;
	padding:20px 0 26px;
}
.aboutArea dt img { height:1em; width:auto; font-size:2.5rem;}
.aboutArea .cont dl {
	width:100%;
	clear:both;
	padding-bottom:20px;
	font-size:2.2rem;
}
.aboutArea .cont dl dd {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	padding:8px 0 0;
}

h2[id^="p"] { /* セレクタ名の前方一致 */
	padding-top: 90px;
	margin-top: -90px;
}

.sideNavi { display:none;}