@charset "utf-8";

.mainimg {
	background:url(../images/access/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg h1 img {
	width:40%;
}
.accessArea .pcnone { display:block;}
.sideNavi {
	float:none;
	width:100%;
	display:block;
	margin:3em 0 ;
}
.accessArea li:first-child {	border-top:none;}
.accessArea li {
	border-top:2px dashed #666;
}
.accessArea li a {	padding:0.5em 0;}
/* .accessArea */
.accessArea {
	width:100%;
	font-size:2rem;
	line-height:1.7em;
	letter-spacing:1px;
	margin-bottom:4em;
}
.accessArea .mapBox {
	width:111%;
	margin:0 0 5em -5.4%;
}
.accessArea .mapBox p {
	width:90%;
	font-size:2rem;
	margin:2em auto 0;
}
.accessArea .cont {
	width:100%;
	clear:both;
}
.accessArea .cont dl {
	width:100%;
	overflow:hidden;
	clear:both;
	/*padding:10px 0;*/
}
/*.accessArea .cont dl dt {
	width:115px;
	float:left;
}
.accessArea .cont dl dd {
	width:585px;
	float:right;
}*/
.accessArea p {
	font-size:2rem;
}
.accessArea .listTxt {
	clear:both;
	padding-bottom:25px;
}
.accessArea .listTxt li {
	background:url(../common/images/ico.gif) no-repeat left 3px;
	padding:0 0 0 25px;
	line-height:1.6;
}
.accessArea .cont02 {
	width:100%;
	overflow:hidden;
	clear:both;
}
.accessArea .cont02 ul {
	margin-left:-10px;
	position:relative;
	float:left;
	width:350px;
}
.accessArea .cont02 ul li {
	padding-bottom:10px;
}
.accessArea .cont02 ul li span {
	display:inline-block;
}
.accessArea table th {
	font-weight: normal;
}
.accessArea .tit .inline {
	float:left;
}
.accessArea .tit ul {
	float:left;
	clear:none;
	padding-left:20px;
}

h2[id^="p"] { /* セレクタ名の前方一致 */
	margin:4.5em 0 1em;
}


.accessArea table {
	width: 100%;
}
.accessArea table td ,
.accessArea table th {
	text-align: left;
	line-height:1.7em;
	font-size:2rem;
}
.accessArea table th {
	width:40%;
	background:#e5e5e5;
	vertical-align:middle;
	border: 1px solid #b7b7b7;
	padding: 1em 2.5%;
}
.accessArea table td {
	width:55%;
	background:#fff;
	border: 1px solid #b7b7b7;
	padding: 1em 2.5%;
}
.accessArea table dt {
	width:10%;
	float:left;
}
.accessArea table dd {
	width:90%;
	float:right;
}
.accessArea .pl20 ,
.jr td span {
	display:block;
}
.accessArea table br { display:none;}
.bus {
	margin-bottom: 60px;
}
.bus table {
	width: 100%;
	background: #fff;
	margin-bottom:2em;
}
.bus table tr:first-child td {
	width:35% !important;
}
.bus table tr:first-child th {
	width:55% !important;
	background:##e5e5e5;
}
.bus table th {
	background:#fff;
	width:auto;
	display:table-cell;
	border: 1px solid #b7b7b7;
	text-align: left;
	vertical-align: middle;
	padding: 1em 2.5%;
}
.bus table td {
	width:auto;
	display:table-cell;
	border: 1px solid #b7b7b7;
	text-align: center;
	vertical-align: middle;
	padding: 1em 2.5%;
}
.bus table tr:first-child th,
.bus table tr:first-child td {
	background: #e5e5e5;
	text-align: center;
}

.inq table br {
	display:block;
}

p.btn {
	text-align: right;
	width:100%;
	margin:1.5em 0 2em;
}
p.btn a {
	display:block;
	width:100%;
	font-weight:bold;
	background:#F00;
	color:#fff;
	text-align:center;
	padding:1em 0;
	position:relative;
}
p.btn a:after {
	content:'≫';
	display:inline-block;
	position:relative;
	font-size:3rem;
	margin-left:0.7em;
}
