@charset "utf-8";


#contents {
	background:url(../images/concept/bg_body.jpg) no-repeat center top;
	background-size: cover;
	width:90%;
	padding:0 5%;
	margin:0 auto 0 0%;
}

/* .conceptArea */
.conceptArea h1 {
	width:75%;
	margin:0 auto 1.5em;
}
.conceptArea .pb45 img {
	width:35%;
}
.conceptArea .pb45 { text-align:center;}
.conceptArea .txt {
	color:#000;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	line-height:2em;
	padding:2em 0;
	letter-spacing:2px;
	font-size:2.2rem;
}
.conceptArea .txt br { display:none;}

.conceptArea .inner {
	background: rgba(255,255,255,0.85);
	margin: 0 auto;
	z-index: 10;
	width:90%;
	padding:10% 5%;
}
.conceptArea .inner a {
	display:none;
}
footer#footer {
	position: relative;
	z-index: 20;
}