@charset "utf-8";

.mainimg {
	background:url(../images/download/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg h1 img {
	width:65%;
}

/* .linksArea */
#contents .inner {
	padding:5em 0 2em;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.linksArea:after {
	display: block;
	content: "";
	clear: both;
}
.linksArea ul {
	width:80%;
	color: #333333;
	margin:0 auto;
}
.linksArea ul li {
	font-size:2.2rem;
	line-height:1.5em;
	margin-bottom:1.5em;
	padding-left:1.5em;
	text-indent:-1.5em;
}
.linksArea ul li:before {
	content:'';
	width:1em;
	height:1em;
	margin-right:0.5em;
	display:inline-block;
	background:#333333;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.linksArea ul a {
	color: #333333;
}
