@charset "utf-8";

.mainimg {
	background:url(../images/event/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg h1 img {
	width:40%;
}
/*
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
*/
/* .eventArea */
.eventDetail ,
.eventArea {
	font-size:2rem;
	padding:2em 0;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.eventArea h2 {
	line-height:2em;
	font-size:2.5rem;
	margin-bottom:2em;
}
.eventArea h3 {
	margin:1em 0 1.5em;
}
.eventArea .linkBtn { margin:0 0 5em ;}
.eventArea .new_event {	margin:2em 0;}
.eventArea .new_event li { margin-bottom:3em;}
.eventArea .new_event h4 {
	width:80%;
	font-size:2.5rem;
	color:#F00;
	text-align:center;
	margin:0 auto 1em;
}
.eventArea .new_event .thumb {
	width:80%;
	margin:0 auto 1em;
	position:relative;
}
.eventArea .new_event .thumb span {
	display:block;
	width:25%;
	z-index:10;
	position:absolute;
	left:-3%;
	top:-3%;
}
.eventArea .new_event .btn {
	margin:1.5em auto;
	width:60%;
}
.eventArea .new_event .btn a {
	display:block;
	text-align:center;
	background:#F00;
	color:#fff;
	padding:0.3em 0;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.eventArea .new_event .btn a:after {
	content:'≫';
	display:inline-block;
	position:relative;
	margin-left:0.5em;
	font-size:2.5rem;
}
.eventArea .event_list {	margin:2em 0 5em;}
.eventArea .eventList li {
	width:49%;
	float:left;
	margin-bottom:2em;
}
.eventArea .event_list li {
	width:48%;
	float:left;
	margin-bottom:2em;
}
.eventArea .eventList li:nth-child(even) ,
.eventArea .event_list li:nth-child(even) {
	float:right;
}
.eventArea .event_list h4 {
	font-size:2.5rem;
	text-align:center;
	margin:0 auto 1em;
}
.eventArea .event_list .thumb {
	width:100%;
	margin:0 auto 1em;
	position:relative;
}
.eventArea .event_list .thumb span {
	display:block;
	width:25%;
	z-index:10;
	position:absolute;
	left:-3%;
	top:-3%;
}
.eventArea .event_list .btn {
	margin:1.5em auto;
	width:100%;
}
.eventArea .event_list .btn a {
	display:block;
	text-align:center;
	background:#F00;
	color:#fff;
	padding:0.3em 0;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.eventArea .event_list .btn a:after {
	content:'≫';
	display:inline-block;
	position:relative;
	margin-left:0.5em;
	font-size:2.5rem;
}



.eventDetail .thumb { margin-bottom:1.5em;}
.eventDetail h2 {
	font-size:2.5rem;
	line-height:1.8em;
	text-align:center;
	margin:1em 0 1.5em;
}
.eventDetail .main_txt {
	line-height:2em;
	margin-bottom:2em;
}
.eventDetail .detail_txt {
	margin-bottom:1em;
	background:#FFF;
	padding:1.5em;
}
.eventDetail > h3 {
	width:55%;
}
.eventDetail .detail_txt dl {
	padding:0.5em 0;
}
.eventDetail .detail_txt dt {
	width:25%;
	float:left;
}
.eventDetail .detail_txt dd {
	width:70%;
	float:right;
}
.eventDetail .detail_txt dd.link_file ,
.eventDetail .detail_txt dd.txt_other {
	width:100%;
	float:none;
}
.eventDetail .detail_txt dd.link_file a { color:#F00;}
.eventDetail .thumb_list { margin:2em 0 1em;}
.eventDetail .thumb_list li {
	float:left;
	width:48%;
	margin-bottom:1.5em;
}
.eventDetail .thumb_list li:nth-child(even) { float:right;}
.eventDetail .linkBtn a {
	background:#4b4b4b !important;
	color:#fff !important;
	margin:0 0 4em;
}


.newspager {
	margin: 6% 0 10% 0;
}
.newspager:after {
	content: "";
	display: block;
	clear: both;
}
.newspager li {
	float: left;
	text-align:center;
}
.newspager li.toprev {
	width:20%;
	padding:0 5%;
}
.newspager li.tolist {
	width: 30%;
	padding:0 5%;
}
.newspager li.tonext {
	width:20%;
	padding:0 5%;
	float: right;
}

