@charset "utf-8";

.mainimg {
	background:url(../images/form/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg h1 {
	text-align: left;
}
.mainimg h1 img {
	width:80%;
}

#contents h2 { margin:4em 0 2em;}

/* .formArea */
.formArea {
	width:100%;
	clear:both;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	letter-spacing:1px;
	margin:3em 0 0;
}
.formArea table {
	clear:both;
	margin: 0 auto;
	margin-bottom:55px;
}
.formArea table tr {
	border-top: 1px dashed #c5c5c5;
	border-bottom: 1px dashed #c5c5c5;
}
.formArea table th {
	width:25%;
	padding:0.8em 5%;
	background: #e5e5e5;
	font-weight:normal;
	font-size:1.8rem;
	text-align:left;
	vertical-align:middle;
}
.formArea table th .must {
	color:#730000;
	font-size:1.8rem;
	display:block;
}
.formArea table td {
	width:55%;
	padding: 0.8em 5%;
	vertical-align:middle;
	text-align:left;
	font-size:1.8rem;
	background:#fff;
}
.formArea table td input[type=text] {
	width:100%;
	border:#cfcfcf 1px solid;
	height:1.5em;
	font-size:45px !important;
	font-family: sans-serif;
	box-shadow:inset 1px 0 2px #cfcfcf;
	border-radius:5px;
	background:#f2f2f2;
	padding:0 5px;
	font-size:1.8rem;
	vertical-align: middle;
	background:#fff;
}
.formArea table td.textarea01 textarea {
	width:100%;
	font-size:45px !important;
	font-family: sans-serif;
	border:#cfcfcf 1px solid;
	height:190px;
	box-shadow:inset 1px 0 2px #cfcfcf;
	border-radius:5px;
	background:#f2f2f2;
	padding:5px;
	overflow:hidden;
	font-size:1.8rem;
	background:#fff;
}
.formArea table td.text02 input[type=text] {
	width: 20%;
	font-size:45px !important;
	font-family: sans-serif;
	height:1.5em;
	margin: 0 10px 0 6px;
}
.formArea .txt {
	line-height:1.6;
	padding:23px 0 8px;
}
.formArea .txt2 {
	line-height:1.6;
	padding-bottom:26px;
}
.formArea .txt2 a {
	color:#323232;
}
.mailBtn {
	text-align:center;
}
.mailBtn li {
	padding:0 6px;
}
.mailBtn  input[type=submit] {
	width:100%;
	margin:0;
	padding:1em 0;
	background:#666666;
	font-size:2.8rem;
	color:#fff;
	border:none;
	-webkit-appearance: none;
	cursor:pointer;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.mailBtn input[type=submit]:hover {
	opacity:0.8;
}

/* .mapArea */
.mapArea {
	width:110.2%;
	margin: 0 auto 0 -5%;
	clear:both;
	text-align:center;
}