@charset "utf-8";

.mainimg {
	background:url(../images/hotel/manimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg h1 img {
	width:30%;
}

/* .hotelArea */
.hotelArea {
	width:100%;
	clear:both;
	margin:2em 0;
}
.hotelArea .txt {
	font-size:2.5rem;
	line-height:2em;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	margin:2em 0;
}
.hotelArea .notes {
	line-height:1.7em;
	margin-bottom:2em;

}
.list_area ul {
	width:100%;
	overflow:hidden;
	clear:both;
}
.list_area ul#p01 li:first-child {
	border-top:10px double #b2b2b2;
}
.list_area ul li {
	padding:2em 0;
	position:relative;
	border-bottom:10px double #b2b2b2;
}
.hotelArea ul li .cont {
	overflow:hidden;
	clear:both;
	position: relative;
}
.list_area li .cont .hp_linkBtn {
	display:none;
}
.list_area li .sp_linkBtn {
	width:65%;
	margin:2em auto;
	display:block;
}
.list_area ul li .cont div {
	width:50%;
	float:left;
	line-height:1.3;
}
.list_area ul .cont .img {
	width:40%;
	float:right;
}
.list_area ul li .cont dl dt {
	position: relative;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	font-size: 2.5rem;
	text-indent: -1.3em;
	padding-left: 1.3em;
	margin-bottom:0.5em;
}
.list_area ul li .cont dl dt:before {
	content: '';
	background:url(../images/hotel/icon_ttl.png) no-repeat center top;
	background-size:contain;
	display: block;
	width: 2rem;
	height: 2rem;
	margin-right:0.5em;
	position: relative;
	display:inline-block;
	vertical-align:top;
	vertical-align: baseline;
}
.list_area ul li .cont dl dd {
	line-height:1.5;
	margin-bottom:3em;
}
.list_area ul li .cont dl.dl01 {
	height:auto!important;
	height:110px;
	min-height:110px;
}
.list_area ul li .cont dl dd.dd01 {
	line-height:1.35;
	padding:0;
}

.hotelArea .hotel_piclist {
	border-bottom:10px double #b2b2b2;
}
.hotelArea .hotel_piclist li:first-child ,
.hotelArea .hotel_piclist li:nth-child(2) {
	border-top:1px dashed #b2b2b2;
}
.hotelArea .hotel_piclist li {
	width:50%;
	float:left;
	background: none;
	margin:0;
	border-bottom:1px dashed #b2b2b2;
	padding:1em 0;
}
.hotelArea .hotel_piclist li:nth-child(even) a {
	display:block;
	border-left:1px dashed #b2b2b2;
}
.hotelArea .hotel_piclist li.border_none { border-bottom:none; border-top:none;}
.hotelArea .hotel_piclist li a {
	color: #555;
}

