@charset "utf-8";

.mainimg {
	background:url(../images/news/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg h1 img {
	width:35%;
}

/* .newsArea */
.newsArea {
	width:700px;
	float:right;
	letter-spacing:1px;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.newsArea h2 {
	border-bottom: 2px solid #c3c3c3;
	font-size: 19px;
	color: #555;
	padding-bottom: 3px;
	font-weight: normal;
}
.newsArea h2:before {
	margin-right:0.3em;
	content: url("../images/event/icon_ttl.png");
}
.newsArea h2 a {	color:#666;}

.sideNavi ul.stit {
	background: #e6e6e6;
	border-bottom: none;
}


.newsArea .cont {
	width:100%;
	clear:both;
	padding:10px 0 34px;
}
.newsArea .cont p {
	line-height:1.8;
}
.newsArea .cont p.dates {
	padding-bottom: 15px;
}
.newsArea .txt {
	width:100%;
	clear:both;
	border-top:#656565 1px dotted;
	border-bottom:#acacac 1px solid;
	padding-bottom:2px;
	margin-bottom:66px;
}
.newsArea .txt dl {
	width:100%;
	overflow:hidden;
	clear:both;
	border-bottom:#acacac 1px solid;
	padding:23px 0;
	line-height:1.4;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.newsArea .txt dl dt {
	width:261px;
	float:left;
}
.newsArea .txt dl dd {
	width:512px;
	padding:0 0 0 26px;
	float:right;
	border-left:#acacac 1px solid;
}
.newsArea .dates {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.newsArea .cont .img {
	padding-top:20px;
}

.sideNavi ul li:last-child {
	background:transparent;
}
.sideNavi ul li {
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.sideNavi ul li a {
	color:#666;
	font-size:15px;
	letter-spacing:0.1em;
	padding:1em;
	display:inline-block;
}
.sideNavi ul li a:before {
	content:'';
	width:16px;
	vertical-align:middle;
	height:15px;
	background:url(../images/news/ico_arrow.jpg) no-repeat center center;
	display:inline-block;
	margin-right:0.6em;
}
.sideNavi ul li a:hover {
	text-decoration:none;
	opacity:0.7;
}

.btn_area {
	text-align:center;
}
.btn_area a {
	display:inline-block;
	font-size:16px;
	left:0.03em;
	color:#bbb;
	background:#555;
	padding:0.6em 3em;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	margin:0 auto;
}
.btn_area a:hover { text-decoration:none;}


/*=========================
//
// 20160113 以下一覧追加分
//
=========================*/
.cate_acmenu {
	background: #717171;
	font-size: 2rem;
	line-height: 1.2em;
	color: #fff;
	padding: 3% 4% 3% 4%;
	margin: 5% 0 2% 0;
	font-weight: normal;
}
.cate_acmenu img {
	width: 2.8%;
	vertical-align: baseline;
	margin-right: 5%;
}
.newsList li {
	border-bottom: 1px solid #656565;
	margin: 0 0 2% 0;
	padding: 0 0 2% 0;
}
.newsList li a {
	display: block;
	position: relative;
}
.newsList li a span {
	color: #727272;
	font-size: 1.6rem;
	padding: 0 0 0 6%;
}
.newsList li a h4 {
	color: #333333;
	font-size: 2.2rem;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	position: relative;
	padding: 0 0 0 6%;
}
.newsList li a h4:before {
	content: url("../images/news/icon_square.jpg");
	position: absolute;
	left: 0;
}
.newsList li a .more {
	width: 7.5%;
	position: absolute;
	top: 15%;
	right: 0;
}

.newspager {
	margin: 6% 0 10% 0;
}
.newspager:after {
	content: "";
	display: block;
	clear: both;
}
.newspager li {
	float: left;
	text-align:center;
}
.newspager li.toprev {
	width:20%;
	padding:0 5%;
}
.newspager li.tolist {
	width: 30%;
	padding:0 5%;
}
.newspager li.tonext {
	width:20%;
	padding:0 5%;
	float: right;
}

.logttl {
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	color: #333;
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
	border-top: 1px solid #656565;
	border-bottom: 1px solid #656565;
	padding: 0.8% 0;
}
.logttl span {
	display: block;
	border-top: 1px solid #656565;
	border-bottom: 1px solid #656565;
	padding: 2% 0;
}
.loglist {
	margin-bottom: 10%;
}
.loglist li {
	background: url("../images/news/icon_other.jpg") no-repeat left center;
	font-size: 2rem;
}
.loglist li a {
	display: block;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	padding: 6% 0 6% 10%;
	color: #333;
	border-bottom: 1px solid #656565;
}
/* page */
.art .artttl {
	font-size: 2rem;
	font-weight: normal;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	position: relative;
	padding: 0 0 0 4%;
	border-bottom: 1px solid #656565;
	margin: 0 0 1% 0;
}
.art .artttl:before {
	content: url("../images/news/icon_square.jpg");
	position: absolute;
	left: 0;
}
.art .time {
	font-size: 1.9rem;
	margin-bottom: 5%;
}
.art .mainimg {
	width: 100%;
	margin-bottom: 4%;
}
.art p {
	font-size: 1.9rem;
	line-height: 2.381em;
}
.metadata {
	border-top: 1px solid #656565;
	border-bottom: 1px solid #656565;
	padding: 0 0 0.8% 0;
	font-size: 1.9rem;
	line-height: 1em;
}
.metadata .metainner {
	border-bottom: 1px solid #656565;
	padding: 2% 0;
}
.metadata .categ {
	float: left;
}
.metadata .categ dt {
	float: left;
}
.metadata .categ dd {
	float: left;
}
.metadata .taglist {
	float: left;
	padding-left: 4%;
	margin-left: 4%;
	border-left: 1px solid #656565;
}
.metadata .taglist dt {
	float: left;
}
.metadata .taglist dd {
	float: left;
}
