@charset "utf-8";

.mainimg {
	background:url(../images/route/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/*  */
.img_route {
	margin: 0 auto;
}

.routeArea h2 {
	width:80%;
	margin:5em 0 4em;
}

.routeArea .walk_map {
	position:relative;
	margin-bottom:5em;
}
.routeArea .walk_map a {
	display: block;
	width: 25%;
	position: absolute;
	bottom: 5%;
	left: 3%;
}
.routeArea .mapbtn ul { margin:6em 0 0;}
.routeArea .mapbtn li {	margin-bottom:3.5em;}
