@charset "utf-8";


/* .flexslider2 */
.flexslider2 {
}
.bx-viewport {
	box-shadow: none!important;
	left: 0!important;
	border: none!important;
	background: transparent!important;
}
.flexslider2 .bx-controls-direction a {
	margin-top: -14px!important;
	width: 12%!important;
	height: 25%!important;
}
.flexslider2 .bx-prev {
	background: url("../images/top/loop_left.jpg") no-repeat top left!important;
	background-size:contain!important;
	left:0 !important;
}
.flexslider2 .bx-next {
	background: url("../images/top/loop_right.jpg") no-repeat top right!important;
	background-size:contain!important;
	right:0 !important;
}

/* カルーセル */
.calWrap {
	padding:3% 3%;
	background:#e5e5e5 !important;
}
.loopslider li {
}
.loopslider a {
	display:block;
	text-align:center;
	color:#666;
	font-size:1.4rem;
	text-decoration:none;
}
.loopslider span {
	display:inline-block;
	margin:0.5em 0 0;
}

/* .conceptTop */
.conceptTop {
	padding:5% 0;
}
.conceptTop .bnr {
	width:100%;
	clear:both;
	text-align:center;
}
.conceptTop .bnr li {
	width: 100%;
	position: relative;
	margin-bottom:5%;
}
.conceptTop .bnr li img {
	width: 100%;
	height: auto;
}
.conceptTop .bnr li img.bgov {
	z-index: 10;
}
.conceptTop .bnr li a {
	width:100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}
.conceptTop .txt {
	text-align:center;
	line-height:2;
	padding:2em 0 1em;
	font-size:2.2rem;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.conceptTop .lheight {
	line-height:2.5;
}

/* .newsTop */
.newsTop {
	padding:0 0;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.newsTop .news {
	width:100%;
	margin:0 auto;
	clear:both;
	border-top:#656565 1px solid;
	border-bottom:#656565 1px solid;
	padding:0.5% 0;
	margin:5% 0;
}
.newsTop .news ul {
	width:100%;
	border-top:#656565 1px solid;
	border-bottom:#656565 1px solid;
	clear:both;
}
.newsTop .news ul li {
	width:100%;
	overflow:hidden;
	clear:both;
	border-bottom:#656565 3px dotted;
	padding:3% 0;
	font-size:1.8rem;
}
.newsTop .news ul li.noln {
	border-bottom:none;
}
.newsTop .news ul li .ico {
	width:18%;
	float:left;
	font-size:0;
	line-height:0;
}
.newsTop .news ul li .dates {
	display:block;
}
.newsTop .news ul li .txt {
	width:78%;
	float:right;
}
.newsTop .news ul li .txt a {
	color:#323232;
}

/* オープニングスライド */
#op { display:none;}

/* bxSlider */

#btn_scrl {
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
	margin: auto;
	width: 46px;
	height: 24px;
	z-index: 100;
	cursor: pointer;
	opacity: 0;
}

.op_logo {
	display: none;
	width: 270px;
	position: absolute;
	top: 130px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1000;
}

.bx-wrapper {
	max-width: 200%!important;
}
.bx-wrapper .bx-pager {
	bottom: 30px!important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #656565!important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #e50012!important;
}

/* 追加 */
.conceptTop .appTxt {
	line-height: 2em;
	padding: 25px 0 45px 0;
	color: #747474;
	letter-spacing: 2px;
}

.pickUp {
	background: #e6e6e6;
	width:99.6%;
	padding:6% 6% 0;
	margin:0 auto 0 -6%;
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	color: #747474;
}
.pickUp .pickTxt {
	font-size:2.2rem;
	line-height: 2em;
	padding: 2em 0;
	text-align: center;
	letter-spacing: 2px;
}
.pickUp .picklist li {
	background: #fff;
	width: 48%;
	text-align: center;
	float: left;
	margin-bottom:5%;
	position: relative;
	letter-spacing: 2px;
}
.pickUp .picklist li:nth-child(even) {
	float:right;
}
.pickUp .picklist li.ic_pick a:before {
	content: '';
	background: url("../images/top/icon_pickup.png") no-repeat 0 0;
	background-size:contain;
	width:25%;
	height:25%;
	display: block;
	position: absolute;
	top: -4px;
	left: -4px;
}
.pickUp .picklist li:first-child {
	margin-left: 0;
}
.pickUp .picklist li a {
	display: block;
	color: #747474;
	text-decoration: none;
}
.pickUp .picklist li a:hover {
	opacity: 0.7;
}
.pickUp .picklist li h4 {
	line-height: 1em;
	font-size: 2rem;
	padding:0.5em;
}
.pickUp .picklist li p {
	font-size: 1.6rem;
	line-height: 1.4em;
	padding:0.5em 1em 1em;
}

.pla {
	padding:6% 0 10%;
	margin:0 auto 0 -6%;
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	color: #747474;
	overflow:hidden;
}
.pla .plaTxt {
	font-size:2.2rem;
	line-height: 2em;
	padding: 2em 5% 1em;
	text-align: center;
	letter-spacing: 2px;
}
.pla li span {
	display:none;
}
.pla .list_btn {
	text-align:center;
	margin:5% 0;
}
.pla .list_btn a {
	display: inline-block;
	border: 1px solid #acacac;
	color: #747474;
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	text-align: center;
	font-size: 1rem;
	line-height: 1em;
	padding:1em 2.5em;
	margin:0 auto;
	letter-spacing: 2px;
}

.pla_cal {
}
/* 設定 */
.pla_calWrap {width: 100%; height: 100%;}
.pla_calInner {width: 50%; margin: 0 auto; position: relative; overflow:visible !important;}
.pla_calmr {width: 300%; position: relative; left: 50%; margin-left: -150%;}
#pla_cal {width: 100%;}
#pla_cal li {width: 500px; margin:0}
#pla_cal li img {width: 100%; vertical-align: bottom;}
.pla_calWrap .bx-wrapper { margin:0 !important;}


.pla_calWrap .bx-controls-direction a {
	margin-top: -14px!important;
	width: 12%!important;
	height: 25%!important;
	top:44% !important;
}
.pla_calWrap .bx-prev {
	background: url("../images/top/loop_left.jpg") no-repeat top left!important;
	background-size:contain!important;
	left:16.8% !important;
}
.pla_calWrap .bx-next {
	background: url("../images/top/loop_right.jpg") no-repeat top right!important;
	background-size:contain!important;
	right:16.5% !important;
}
