@charset "utf-8";

.pcnone { display:none;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
ul {
    list-style:none;
}
img {
	border: none;
	vertical-align:bottom;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
address, em, code, cite, dfn, var, optgroup {
  font-style: normal;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
	text-decoration:none;
	outline:none;
}
a:hover {
	text-decoration:underline;
}
a.al:hover img {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter:"alpha(opacity=80)";
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select {
    vertical-align:middle;
}
.clearfix:after {
    content: ".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}

/*  common  */
.clear {
	font-size: 1px;
	height: 1px;
	clear: both;
}
.left{
	float:left;
	display:inline;
}

.right{
	float:right;
	display:inline;
}
.alignCenter {text-align:center;}
.alignLeft {text-align:left;}
.alignRight {text-align:right;}
.valignTop {vertical-align:top;}
.valignMiddle {vertical-align:middle;}
.valignBottom {vertical-align:bottom;}

.mt00 { margin-top: 0 !important; }
.mt05 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 60px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }
.mt85 { margin-top: 85px !important; }
.mt90 { margin-top: 90px !important; }
.mt95 { margin-top: 95px !important; }
.mt100 { margin-top: 100px !important; }

.mr00 { margin-right: 0 !important; }
.mr05 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }
.mr70 { margin-right: 70px !important; }
.mr75 { margin-right: 75px !important; }
.mr80 { margin-right: 80px !important; }
.mr85 { margin-right: 85px !important; }
.mr90 { margin-right: 90px !important; }
.mr95 { margin-right: 95px !important; }
.mr100 { margin-right: 100px !important; }

.mb00 { margin-bottom: 0 !important; }
.mb05 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb85 { margin-bottom: 85px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb95 { margin-bottom: 95px !important; }
.mb100 { margin-bottom: 100px !important; }

.ml00 { margin-left: 0 !important; }
.ml05 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 60px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }
.ml85 { margin-left: 85px !important; }
.ml90 { margin-left: 90px !important; }
.ml95 { margin-left: 95px !important; }
.ml100 { margin-left: 100px !important; }

.pt00 { padding-top: 0 !important; }
.pt05 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }
.pt85 { padding-top: 85px !important; }
.pt90 { padding-top: 90px !important; }
.pt95 { padding-top: 95px !important; }
.pt100 { padding-top: 100px !important; }

.pr00 { padding-right: 0 !important; }
.pr05 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }
.pr60 { padding-right: 60px !important; }
.pr65 { padding-right: 65px !important; }
.pr70 { padding-right: 70px !important; }
.pr75 { padding-right: 75px !important; }
.pr80 { padding-right: 80px !important; }
.pr85 { padding-right: 85px !important; }
.pr90 { padding-right: 90px !important; }
.pr95 { padding-right: 95px !important; }
.pr100 { padding-right: 100px !important; }

.pb00 { padding-bottom: 0 !important; }
.pb05 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb85 { padding-bottom: 85px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb95 { padding-bottom: 95px !important; }
.pb100 { padding-bottom: 100px !important; }

.pl00 { padding-left: 0 !important; }
.pl05 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }
.pl65 { padding-left: 65px !important; }
.pl70 { padding-left: 70px !important; }
.pl75 { padding-left: 75px !important; }
.pl80 { padding-left: 80px !important; }
.pl85 { padding-left: 85px !important; }
.pl90 { padding-left: 90px !important; }
.pl95 { padding-left: 95px !important; }
.pl100 { padding-left: 100px !important; }

/* html
-------------------------------------------------*/
html {
	overflow-y:scroll;
}

/*  body  */
body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	font-size:12px;
	line-height:1.5;
	color:#323232;
	-webkit-text-size-adjust:100%;
	background:#f2f2f2;
}
.fo10 { font-size:10px; }
.fo11 { font-size:11px; }
.fo12 { font-size:12px; }
.fo13 { font-size:13px; }
.fo14 { font-size:14px; }
.fo15 { font-size:15px; }
.fo16 { font-size:16px; }
.fo17 { font-size:17px; }
.fo18 { font-size:18px; }
.fo19 { font-size:19px; }
.fo20 { font-size:20px; }
.fo22 { font-size:22px; }
.fo34 { font-size:34px; }

/* #wrapper */
#wrapper {
	width:100%;
	min-width:1300px;
	clear:both;
}

/*  #header  */
#header {
	width:100%;
	min-width:1300px;
	background:url(../images/bg_header.png) repeat left top;
	clear:both;
	position:relative;
	z-index:9999;
}
#header .inner {
	width:1300px;
	height:70px;
	margin:0 auto;
	overflow:hidden;
}
#logo {
	float:left;
	padding:13px 0 0 21px;
}
#header .hnavi {
	width:158px;
	overflow:hidden;
	float:right;
	font-size:0;
	line-height:0;
	padding-top:23px;
}
#header .hnavi dt {
	float:left;
	padding:2px 24px 0 0;
    background:url(../images/top_menu.png) no-repeat right top;
}
#header .hnavi dd {
	float:left;
    margin-left:15px;
	padding-right:5px;
}
#navi {
	width:960px;
	float:left;
	overflow:hidden;
	padding:30px 0 0 8px;
}
#navi li {
	font-size:0;
	line-height:0;
	float:left;
	padding:0 0 0 51px;
}

/* #contents */
#contents {
	width:100%;
	min-width:1300px;
	clear:both;
	padding-bottom:175px;
}

/* .path */
.path {
	width:980px;
	margin:0 auto;
	clear:both;
	padding:10px 0 71px;
}
.path li {
	display:inline;
	line-height:1.2;
	padding-right:4px;
}
.path li a {
	color:#323232;
	padding-right:8px;
}

/* .mainimg */
.mainimg {
	width:100%;
	min-width:1300px;
	clear:both;
	/*margin-top:-70px;*/
}

/* .headTitle */
.headTitle {
	width:980px;
	margin:0 auto;
	clear:both;
	padding:190px 0 0;
	height:160px;
}

/*  section  */
section {
	width:100%;
	min-width:1300px;
}
section .inner {
	width:980px;
	margin:0 auto;
}

/* .linkBtn */
.linkBtn {
	clear:both;
}
.linkBtn a {
	width:112px;
	margin:0 auto;
	text-align:center;
	display:block;
	color:#323232;
	border:#656565 1px solid;
	line-height:31px;
	height:31px;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	letter-spacing:1px;
}

/* .sideNavi */
.sideNavi {
	width:200px;
	float:left;
	border-top:#cfcfcf 2px solid;
	border-bottom:#cfcfcf 2px solid;
	padding:1px 0;
	clear:left;
}
.sideNavi ul {
	border-top:#cfcfcf 2px solid;
	border-bottom:#cfcfcf 2px solid;
}
.sideNavi ul li {
	background:url(../images/ln.gif) repeat-x left bottom;
	padding-bottom:2px;
}
.sideNavi ul li.nobg {
	background:none;
	padding-bottom:0;
}
.sideNavi ul.stit {
	margin-bottom:1px;
}

/* .linksbtn */
.linksbtn {
	width:100%;
	clear:both;
	border-top:#cfcfcf 2px solid;
	border-bottom:#cfcfcf 2px solid;
	padding:1px 0;
}
.linksbtn .ulTop {
	border-top:#cfcfcf 2px solid;
}
.linksbtn ul {
	width:100%;
	clear:both;
	background:url(../images/bg_list_btn.jpg) no-repeat center;
	padding:10px 0;
	border-bottom:#acacac 1px dotted;
}
.linksbtn.threeLn ul {
	background:url(../images/bg02_list_btn.jpg) no-repeat center;
}
.linksbtn .ulLast {
	border-bottom:#cfcfcf 2px solid;
}
.linksbtn ul li {
	float:left;
	padding-right:2px;
}
.linksbtn.threeLn ul li {
	padding-right:1px;
}

/* .listBtn */
.listBtn {
	width:100%;
	overflow:hidden;
	clear:both;
}
.listBtn li {
	float:left;
	padding-right:10px;
}

/*  #footer  */
#footer{
	width:100%;
	min-width:1300px;
	clear:both;
	background:url(../images/bg_footer.png) no-repeat center bottom;
}
#finner {
	width:960px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
	padding:200px 0 20px;
	color:#cccccc;
}
#finner ul {
	width:940px;
	/*float:left;*/
	margin: 0 auto;
}
#finner ul li {
	display:inline;
	padding-right:20px;
	letter-spacing:2px;
	line-height:1.2;
}
#finner ul li:first-child {
	margin-left: 20px;
}
#finner ul li:first-child a {
	margin-left: 20px;
}
#finner ul li a {
	color:#cccccc;
	padding-right:20px;
}
#finner .copyright {
	text-align: center;
	font-size:0;
	line-height:0;
	padding-top:15px;
}
#finner .copyright img {
	vertical-align:baseline;
}

/* #scrolltopcontrol */
#scrolltopcontrol {
    background:url(../images/gotop.jpg) no-repeat left top;
    width: 43px;
    height: 43px;
}
#topcontrol {
	position: fixed;
	width: 43px;
	height: 43px;
	bottom: 50px;
	right: 0;
	cursor: pointer;
	display: none;
	z-index: 9999;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

.pager {
	margin:40px 0;
}
.pager ul {
	text-align:center;
}
.pager li {
	display:inline-block;
	font-size:16px;
	color:#898989;
	border:2px solid #cfcfcf;
	margin:0 10px;
	letter-spacing:0.03em;
}
.pager li.pageall { padding:1em 2em;}
.pager li.off {	padding:1em 1.2em;}
.pager li a {
	background:#666666;
	display:inline-block;
	padding:1em 1.2em;
	color:#fff;
}


