@charset "utf-8";

.mainimg {
	background:url(../images/about/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .aboutArea */
.aboutArea {
	width:700px;
	float:right;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	letter-spacing:1px;
}
.aboutArea .txt {
	line-height:2.05;
	margin-top:-8px;
	position:relative;
	padding-bottom:48px;
	letter-spacing:2px;
}
.aboutArea .txtArea {
	width:100%;
	clear:both;
	padding-bottom:30px;
}
.aboutArea .txtArea p {
	line-height:1.8;
	padding:20px 0 5px;
}
.aboutArea .img {
	width:100%;
	clear:both;
	padding-bottom:72px;
}
.aboutArea .img li {
	float:left;
	padding-right:21px;
}
.aboutArea .img .pb22 {
	padding-bottom:22px;
}
.aboutArea .cont {
	width:100%;
	clear:both;
	padding-bottom:90px;
}
.aboutArea .cont .img2 {
	float:right;
}
.aboutArea .cont div {
	width:388px;
	float:left;
	padding:2px 0 0;
}
.aboutArea .txt2 {
	line-height:1.8;
	padding:20px 0 26px;
}
.aboutArea .cont dl {
	width:100%;
	clear:both;
	padding-bottom:20px;
}
.aboutArea .cont dl dd {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	padding:8px 0 0;
}

h2[id^="p"] { /* セレクタ名の前方一致 */
	padding-top: 90px;
	margin-top: -90px;
}