@charset "utf-8";

.mainimg {
	background:url(../images/access/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .accessArea */
.accessArea {
	width:700px;
	float:right;
	letter-spacing:1px;
}
.accessArea .mapBox {
	padding:32px 0 77px;
	position: relative;
}
.accessArea .mapBox .kakudai {
	display: block;
	width: 183px;
	height: 128px;
	position: absolute;
	top: 52px;
	left: 19px;
}
.accessArea .cont {
	width:100%;
	clear:both;
	padding-bottom:15px;
}
.accessArea .cont dl {
	width:100%;
	overflow:hidden;
	clear:both;
	/*padding:10px 0;*/
}
/*.accessArea .cont dl dt {
	width:115px;
	float:left;
}
.accessArea .cont dl dd {
	width:585px;
	float:right;
}*/
.accessArea .tit {
	padding-bottom:12px;
	margin-left:-10px;
	position:relative;
}
.accessArea .listTxt {
	clear:both;
	padding-bottom:25px;
}
.accessArea .listTxt li {
	background:url(../common/images/ico.gif) no-repeat left 3px;
	padding:0 0 0 25px;
	line-height:1.6;
}
.accessArea .cont02 {
	width:100%;
	overflow:hidden;
	clear:both;
	padding:28px 0;
}
.accessArea .cont02 ul {
	margin-left:-10px;
	position:relative;
	float:left;
	width:350px;
}
.accessArea .cont02 ul li {
	padding-bottom:10px;
}
.accessArea .cont02 ul li span {
	width:106px;
	display:inline-block;
}
/*.accessArea table {
	width:100%;
	clear:both;
	border-top:#656565 1px solid;
	border-left:#656565 1px solid;
	margin-bottom:20px;
}
.accessArea table th {
	text-align:center;
	vertical-align:middle;
	border-right:#656565 1px solid;
	border-bottom:#656565 1px solid;
	background:#e5e5e5;
	font-weight:normal;
	padding:8px 0 6px;
	line-height:1.3;
}
.accessArea table th.th01 {
	width:195px;
	background:#f2f2f2;
	text-align:left;
	padding-left:15px;
}
.accessArea table th.th02 {
	width:106px;
}
.accessArea table td {
	text-align:center;
	vertical-align:middle;
	border-right:#656565 1px solid;
	border-bottom:#656565 1px solid;
	padding:12px 0;
	line-height:1.3;
}
.accessArea table td.td01 {
	text-align:left;
	padding:12px 10px 12px 40px;
}*/
.accessArea table th {
	font-weight: normal;
}
.accessArea .tit .inline {
	float:left;
}
.accessArea .tit ul {
	float:left;
	clear:none;
	padding-left:20px;
}

h2[id^="p"] { /* セレクタ名の前方一致 */
	padding-top: 90px;
	margin-top: -90px;
}


.jr {
	margin-bottom: 50px;
}
.jr p {
	letter-spacing: 3px;
}
.jr table {
	font-size: 14px;
	margin: 25px 0 15px;
	width: 100%;
}
.jr table th {
	background: #e5e5e5;
	border: 1px solid #b7b7b7;
	text-align: left;
	padding: 20px 0 20px 27px;
	vertical-align: middle;
	line-height: 1.5em;
	width: 96px;
}
.jr table td  {
	background: #fff;
	border: 1px solid #b7b7b7;
	line-height: 1.5em;
	text-align: left;
	text-indent: -0.5em;
	vertical-align: middle;
	padding: 0 0 0 20px;
	width: 579px;
}
.jr table.tb2 th {
	padding-left: 10px;
	width: 118px;
}
.jr table.tb2 td {
	padding: 15px 0 15px 20px;
	text-indent: 0;
	width: 562px;
}
.jr table.tb2 dl {
	padding: 0;
}
.jr table.tb2 dl dt {
	float: left;
	width: 16px;
}
.jr table.tb2 dl dd {
	padding-left: 25px;
	width: 490px;
	float: none;
}

.air {
	margin-bottom: 50px;
}
.air table {
	width: 100%;
	font-size: 14px;
	margin: 35px 0 15px;
}
.air table th {
	background: #e5e5e5;
	border: 1px solid #b7b7b7;
	padding-left: 10px;
	width: 109px;
	text-align: left;
	vertical-align: middle;
}
.air table td {
	background: #fff;
	border: 1px solid #b7b7b7;
	padding: 15px 0 15px 25px;
	vertical-align: middle;
}
.air .cf table {
	float: right;
	width: 343px;
	margin-top: 0;
}
.air .cf table th {
	text-align: center;
}
.air .cf table:first-child {
	float: left;
}
.air table dl dt {
	float: left;
}
.air table dl dd {
	float: none;
	padding-left: 25px;
}

.car {
	margin-bottom: 70px;
}
.car table {
	width: 100%;
	font-size: 14px;
	margin: 35px 0 15px;
}
.car table th {
	background: #e5e5e5;
	border: 1px solid #b7b7b7;
	padding: 15px 0 15px 25px;
	width: 94px;
	text-align: left;
	vertical-align: middle;
}
.car table.tb2 th {
	padding-left: 10px;
	width: 109px;
}
.car table td {
	background: #fff;
	border: 1px solid #b7b7b7;
	padding: 15px 0 15px 25px;
	vertical-align: middle;
}
.car table dl dt {
	float: left;
}
.car table dl dd {
	float: none;
	padding-left: 25px;
}

.bus {
	margin-bottom: 60px;
}
.bus table {
	width: 320px;
	float: left;
	margin: 0 0 20px 10px;
	background: #fff;
}
.bus table:nth-child(odd) {
	margin-left: 0;
}
.bus table th {
	border: 1px solid #b7b7b7;
	text-align: left;
	vertical-align: middle;
	padding: 10px 0 10px 15px;
}
.bus table td {
	border: 1px solid #b7b7b7;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0 10px 0;
}
.bus table tr:first-child th,
.bus table tr:first-child td {
	background: #e5e5e5;
	text-align: center;
	padding: 5px 0 5px 0;
}

.inq table {
	width: 100%;
	font-size: 14px;
}
.inq table th {
	background: #e5e5e5;
	border: 1px solid #b7b7b7;
	text-align: left;
	vertical-align: middle;
	padding: 10px 0 10px 10px;
}
.inq table td {
	background: #fff;
	border: 1px solid #b7b7b7;
	text-align: left;
	vertical-align: middle;
	padding: 10px 0 10px 25px;
}

p.btn {
	text-align: right;
}