@charset "utf-8";

body {
	background: #000;
}

#wrapper {
	background:url(../images/concept/bg_body.jpg) no-repeat center top;
	background-size: cover;
}
#contents {
	padding-bottom:138px;
}
/*#footer{
	background:url(../common/images/bg_footer02.png) no-repeat center top;
}*/
#finner {
	color:#fff;
}
#finner ul li a {
	color:#fff;
}
#scrolltopcontrol {
    background:url(../common/images/gotop02.jpg) no-repeat left top;
    width: 43px;
    height: 43px;
}

/* .conceptArea */
.conceptArea {
	width:100%;
	padding:70px 0 0;
	text-align:center;
	position: relative;
	min-height: 820px;
}
.conceptArea .txt {
	color:#000;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	line-height:2.4;
	padding:20px 0;
	letter-spacing:2px;
}

.conceptArea .inner {
	background: rgba(255,255,255,0.85);
	padding: 90px 0 250px;
	position: absolute;
	width: 980px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 70px;
	z-index: 10;
}

footer#footer {
	position: relative;
	z-index: 20;
}