@charset "utf-8";

.mainimg {
	background:url(../images/download/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .linksArea */
.linksArea:after {
	display: block;
	content: "";
	clear: both;
}
.linksArea ul {
	font-size: 16px;
	color: #535353;
	line-height: 1em;
}
.linksArea ul li {
	float:left;
	width:390px;
	margin-bottom: 30px;
    letter-spacing:0.1em;
    background:url(../images/download/icon.jpg) no-repeat left;
    padding-left:20px;
}
.linksArea ul li:nth-child(even) {
	margin-left:60px;
}
.linksArea ul a {
	text-decoration: underline;
	color: #535353;
}
.link1 {
	float: left;
	margin-left: 0;
}
.link2 {
	float: left;
	margin-left: 165px;
}