@charset "utf-8";

.mainimg {
	background:url(../images/event/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .eventArea */
.eventArea {
	width:100%;
	clear:both;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	letter-spacing:1px;
}
.eventArea .txt {
	line-height:1.9;
	margin-top:-5px;
	padding-bottom:48px;
	letter-spacing:2px;
}
.eventArea .cont {
	width:301px;
	float:left;
	position:relative;
	padding:3px 37px 55px 0;
	font-size: 10px;
}
.eventArea .cont .thumb {
	height:202px;
	max-width:301px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.eventArea .cont .tit {
	color:#e50012;
	line-height:1.5em;
	padding:12px 0 5px;
	text-align: center;
}
.eventArea .cont div {
	width:100%;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	clear:both;
	padding:5px 0 10px;
	margin-bottom:17px;
}
.eventList .date dl ,
.eventArea .cont dl {
	width:100%;
	overflow:hidden;
	clear:both;
	line-height:1.7;
}
.eventArea .cont dl dt {
	width:60px;
	font-size:12px;
	float:left;
}
.eventArea .cont dl dd {
	width:241px;
	float:right;
	font-size:12px;
	letter-spacing:0;
}
.eventList .date dl dt {
	width:60px;
	float:left;
	font-size:12px;
}
.eventList .date dl dd {
	width:170px;
	float:right;
	font-size:12px;
	letter-spacing:0;
}
.event_new .ico {
	position:absolute;
	top:-5px;
	left:-5px;
}
.eventArea .listEvent {
	width:100%;
	clear:both;
}
.eventArea .listEvent li {
	width:224px;
	float:left;
	/*border-bottom:#656565 1px solid;*/
	background: url("../images/event/border_event.jpg") repeat-x left bottom;
	padding-bottom:30px;
	position:relative;
	margin-right:28px;
	margin-bottom:35px;
}
.eventArea .listEvent li .ico {
	position:absolute;
	top:-5px;
	left:-5px;
}
.eventArea .listEvent li .tit {
	color:#000;
	padding:10px 0;
	height:auto!important;
	height:46px;
	min-height:46px;
	text-align: center;
}
.eventArea .listEvent.titNoH .tit {
	height:auto!important;
	height:auto;
	min-height:auto;
}

/* .pageArea */
.pageArea {
	width:100%;
	clear:both;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	padding-top:40px;
}
.pageArea .cont {
	width:100%;
	overflow:hidden;
	clear:both;
	padding-bottom:25px;
}
.pageArea .img {
	float:right;
	margin-top: 0;
}
.pageArea .detaImg {
	float: right!important;
	border: none!important;
	width: 395px!important;
}
.pageArea .detaImg .img {
	max-width:100%;
	margin-top: 20px;
	float: auto;
}
.pageArea .detaImg .img:first-child {
	margin-top: 0;
}
.pageArea .cont h2 {
	margin-bottom: 45px;
	border-bottom: 2px solid #c3c3c3;
	width: 550px;
	font-size: 23px;
	letter-spacing:0.03em;
	color: #555;
    font-weight:normal;
	padding-bottom: 3px;
}
.pageArea .cont h2:before {
	margin-right:0.3em;
	content: url("../images/event/icon_ttl.png");
}

.pageArea .cont div {
	width:550px;
	float:left;
}
.pageArea .cont  p {
	line-height:1.8;
}
.pageArea .cont .tit {
	padding:35px 0 20px;
}
.pageArea .cont .com {
	letter-spacing:0.03em;
	font-size:18px;
	line-height:2em;
	padding:0 0 20px;
}
.pageArea .cont02 div {
	width:615px;
	float:left;
	border-top:#656565 1px solid;
	border-bottom:#656565 1px solid;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.pageArea .cont02 .img img { max-width:100%;}
.pageArea .cont02 dl {
	width:100%;
	overflow:hidden;
	clear:both;
	padding-bottom:1px;
}
.pageArea .cont02 dl dt {
	width:15%;
	float:left;
}
.pageArea .cont02 dl dd {
	width:85%;
	float:right;
}
.pageArea .cont02 dl dd.txt_other {
	width:100%;
	float:none;
}
.pageArea .cont02 dl dd.link_file {
	width:100%;
	float:none;
	margin-bottom:0.5em;
}
.pageArea .cont02 .mceContentBody a {
	color:#e50110 !important;
}
.pageArea .btn_area {
	text-align:center;
	margin:90px 0 0;
}


/* eventList */
.eventList #list li {
	float: left;
	width: 226px;
	font-size: 11px;
	color: #3c3c3c;
	margin-left: 25px;
	margin-bottom: 45px;
}
.eventList .name {
	color: #e70f20;
	font-size: 15px;
	line-height: 1.4em;
	text-align: center;
	margin: 12px 0 0;
	min-height: 38px;
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.eventList .thumb {
	height:188px;
	width:226px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.eventList .date {
	margin-left: -0.5em;
}
.eventList .date span {
	display: block;
	float: right;
	width: 180px;
}
.eventList .btn {
	width: 144px;
	margin: 0 auto;
	margin-top: 15px;
}

.listDeta dl {
	font-size: 11px;
}
.listDeta dl dt {
 float: left;
}
.listDeta dl dd {
	padding-left: 55px;
}


.pageArea .cont02 div.eventDeta {
	width: 477px;
	line-height: 1.7em;
	color: #323232;
	position: relative;
	background: #e4e4e4;
	border: none;
	padding:28px 36px 28px;
}
.pageArea .cont02 div.eventDeta h3 {
	position: absolute;
	top: -25px;
	left: 0;
}
.pageArea h2 {
	line-height:1.7em;
}



html .mceContentBody{
    padding: 0 0 !important;
    }