@charset "utf-8";

.mainimg {
	background:url(../images/form/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .formArea */
.formArea {
	width:100%;
	clear:both;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	letter-spacing:1px;
}
.formArea table {
	width:868px;
	clear:both;
	margin: 0 auto;
	margin-bottom:55px;
}
.formArea table tr {
	border-top: 1px dashed #666;
	border-bottom: 1px dashed #666;
}
.formArea table th {
	width:200px;
	padding:0 20px 0 45px;
	background: #e5e5e5;
	font-weight:normal;
	font-size:15px;
	text-align:left;
	vertical-align:middle;
}
.formArea table th .must {
	color:#e60012;
	font-size:12px;
}
.formArea table td {
	padding: 16px 45px;
	vertical-align:middle;
	text-align:left;
}
.formArea table td input[type=text] {
	width:100%;
	border:#cfcfcf 1px solid;
	height:30px;
	box-shadow:inset 1px 0 2px #cfcfcf;
	border-radius:5px;
	background:#f2f2f2;
	padding:0 5px;
	font-size:14px;
	vertical-align: middle;
}
.formArea table td.textarea01 textarea {
	width:100%;
	border:#cfcfcf 1px solid;
	height:190px;
	box-shadow:inset 1px 0 2px #cfcfcf;
	border-radius:5px;
	background:#f2f2f2;
	padding:5px;
	overflow:hidden;
	font-size:16px;
}
.formArea table td.text02 input[type=text] {
	width: 65px;
	margin: 0 10px 0 6px;
}
.formArea .txt {
	line-height:1.6;
	padding:23px 0 8px;
}
.formArea .txt2 {
	line-height:1.6;
	padding-bottom:26px;
}
.formArea .txt2 a {
	color:#323232;
}
.mailBtn {
	text-align:center;
}
.mailBtn li {
	padding:0 6px;
}
.mailBtn  input[type=submit] {
	width:250px;
	height:50px;
	margin:0 10px;
	background:#323232;
	font-size:16px;
	color:#cbcbcb;
	border:none;
	cursor:pointer;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.mailBtn input[type=submit]:hover {
	opacity:0.8;
}

/* .mapArea */
.mapArea {
	width:100%;
	margin: 0 auto;
	clear:both;
	text-align:center;
}