@charset "utf-8";

.mainimg {
	background:url(../images/hotel/manimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .hotelArea */
.hotelArea {
	width:100%;
	clear:both;
	padding:0 0 0;
}
.hotelArea .txt {
	line-height:2;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	padding-bottom:36px;
	letter-spacing:2px;
}
.hotelArea .notes {
	line-height:1.7;
	padding-bottom:15px;
}
.hotelArea ul {
	width:100%;
	overflow:hidden;
	clear:both;
}
.hotelArea ul li {
	width:475px;
	float:left;
	margin: 0 30px 30px 0;
	padding:0;
	background: #e6e6e6;
}
.hotelArea ul li .cont {
	width:435px;
	padding:30px 20px;
	overflow:hidden;
	clear:both;
	position: relative;
}
.hotelArea ul li .cont p span {
	display: block;
	font-size: 11px;
	text-indent: -1em;
	padding-left: 1em;
	line-height: 1.4em;
	padding-bottom: 4px;
}
.hotelArea .lastListul li {
	margin-bottom:49px;
	border-bottom:#656565 1px solid;
}
.hotelArea .lastListul li .cont {
	border-bottom:#656565 1px solid;
}
.hotelArea li .cont .hp_linkBtn {
	position: absolute;
	left: 20px;
	bottom: 30px;
	z-index: 100;
}
.hotelArea ul li .img {
	float:right;
	padding:2px 0;
}
.hotelArea ul li .cont div {
	width:190px;
	float:left;
	line-height:1.3;
}
.hotelArea ul li .cont dl {
	width:100%;
	height:auto!important;
	padding-bottom:5px;
}
.hotelArea ul li .cont dl dt {
	padding: 0 0 5px 20px;
	margin: 0 0 10px;
	border-bottom: 1px solid #cdcdcd;
	position: relative;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	font-size: 16px;
}
.hotelArea ul li .cont dl dt:before {
	content: url("../images/hotel/icon_ttl.png");
	display: block;
	width: 10px;
	height: 9px;
	position: absolute;
	top: 0;
	left: 0;
	vertical-align: baseline;
}
.hotelArea ul li .cont dl dd {
	line-height:1.5;
}
.hotelArea ul li .cont dl.dl01 {
	height:auto!important;
	height:110px;
	min-height:110px;
}
.hotelArea ul li .cont dl dd.dd01 {
	line-height:1.35;
	padding:0;
}


.hotelArea .hotel_piclist {
	width: 980px;
	margin: 0 auto 50px;
}
.hotelArea .hotel_piclist li {
	border: none;
	width: 147px;
	min-height: 125px;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 1.5em;
	padding: 0;
	margin: 0 0 5px 19px;
	background: none;
}
.hotelArea .hotel_piclist li a {
	color: #555;
}
.hotelArea .hotel_piclist li a:hover {
	opacity: 0.7;
}
.hotelArea .hotel_piclist li:nth-child(6n+1) {
	margin-left: 0;
}
.hotelArea .hotel_piclist li img {
	margin-bottom: 6px;
    }
p.txt_left {
    margin-left:-6px;
    }
p.txt_left span{
    display:block;
    margin-left:6px;
    }



ul[id^="p"] { /* セレクタ名の前方一致 */
	padding-top: 90px;
	margin-top: -90px;
}