@charset "utf-8";

.mainimg {
	background:url(../images/link/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .linksArea */
.linksArea:after {
	display: block;
	content: "";
	clear: both;
}
.linksArea ul {
	font-size: 16px;
	color: #333333;
	line-height: 1em;
}
.linksArea ul li {
	margin-bottom: 30px;
    background:url(../images/download/icon.jpg) no-repeat left;
    padding-left:20px;
}

.linksArea ul a {
	text-decoration: underline;
	color: #333333;
}
.link1 {
}
.link1 li {
	float: left;
	width: 296px;
	margin-left: 10px;
}

.link2 {
	margin-top: 50px;
	
}
.link2 li {
	float: left;
	width: 296px;
	margin-left: 10px !important;
}
