@charset "utf-8";

.mainimg {
	background:url(../images/news/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/* .newsArea */
.newsArea {
	width:700px;
	float:right;
	letter-spacing:1px;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.newsArea h2 {
	border-bottom: 2px solid #c3c3c3;
	font-size: 19px;
	color: #555;
	padding-bottom: 3px;
	font-weight: normal;
}
.newsArea h2:before {
	margin-right:0.3em;
	content: url("../images/event/icon_ttl.png");
}
.newsArea h2 a {	color:#666;}

.sideNavi ul.stit {
	background: #e6e6e6;
	border-bottom: none;
}


.newsArea .cont {
	width:100%;
	clear:both;
	padding:10px 0 34px;
}
.newsArea .cont p {
	line-height:1.8;
}
.newsArea .cont p.dates {
	padding-bottom: 15px;
}
.newsArea .txt {
	width:100%;
	clear:both;
	border-top:#656565 1px dotted;
	border-bottom:#acacac 1px solid;
	padding-bottom:2px;
	margin-bottom:66px;
}
.newsArea .txt dl {
	width:100%;
	overflow:hidden;
	clear:both;
	border-bottom:#acacac 1px solid;
	padding:23px 0;
	line-height:1.4;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.newsArea .txt dl dt {
	width:261px;
	float:left;
}
.newsArea .txt dl dd {
	width:512px;
	padding:0 0 0 26px;
	float:right;
	border-left:#acacac 1px solid;
}
.newsArea .dates {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.newsArea .cont .img {
	padding-top:20px;
}

.sideNavi ul li:last-child {
	background:transparent;
}
.sideNavi ul li {
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.sideNavi ul li a {
	color:#666;
	font-size:15px;
	letter-spacing:0.1em;
	padding:1em;
	display:inline-block;
}
.sideNavi ul li a:before {
	content:'';
	width:16px;
	vertical-align:middle;
	height:15px;
	background:url(../images/news/ico_arrow.jpg) no-repeat center center;
	display:inline-block;
	margin-right:0.6em;
}
.sideNavi ul li a:hover {
	text-decoration:none;
	opacity:0.7;
}

.btn_area {
	text-align:center;
}
.btn_area a {
	display:inline-block;
	font-size:16px;
	left:0.03em;
	color:#bbb;
	background:#555;
	padding:0.6em 3em;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	margin:0 auto;
}
.btn_area a:hover { text-decoration:none;}