@charset "utf-8";

.mainimg {
	background:url(../images/route/mainimg.jpg) no-repeat center top;
	background-size:cover;
}

/*  */
.img_route {
	width: 816px;
	margin: 0 auto;
}

.routeArea h2 {
	padding-top: 110px;
	margin-bottom: 26px;
}

.routeArea .walk_map {
	background: url("../images/route/img_map.jpg") no-repeat left top;
	position: relative;
	height: 550px;
	margin-bottom: 65px;
}
.routeArea .walk_map a {
	display: block;
	width: 99px;
	height: 29px;
	position: absolute;
	bottom: 12px;
	left: 14px;
}
.routeArea .walk_map a:hover {
	opacity: 0.7;
}

.routeArea .mapbtn {
	margin: 40px auto 90px;
}
.routeArea .mapbtn li {
	float: right;
}
.routeArea .mapbtn li:first-child {
	float: left;
	margin-top: 22px;
}
.routeArea .mapbtn li a:hover {
	opacity: 0.7;
}