@charset "utf-8";

body {
	background: #f2f2f2;
}

#contents {
	padding-bottom: 0;
}

#footer {
	background-color: #e6e6e6;
}

/* .flexslider2 */
.slideBg {
	background: #e6e6e6;
}
.slideWrap {
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin-bottom: 40px;
}
.slideWrap_inner {
	width: 980px;
	margin: 0 auto;
	height: 400px;
	position: relative;
}
.slideWrap_inner:before {
	content: "";
	display: block;
	background: rgba(255,255,255,0.5);
	width: 980px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 980px;
	z-index: 999;
}
.slideWrap_inner:after {
	content: "";
	display: block;
	background: rgba(255,255,255,0.5);
	width: 980px;
	height: 400px;
	position: absolute;
	top: 0;
	right: 980px;
	z-index: 999;
}
.flexslider2 {
	width:2940px;
	clear:both;
	position:absolute;
	left: 50%;
	margin-left: -1470px;
}
.flexslider2 li {
	overflow:hidden;
	height: 400px;
	width: 980px!important;
}
.flexslider2 li img {
	width:100%;
}
.flexslider2 li div img {
	width:auto;
}
.flexslider2 li div {
	width:906px;
	overflow:hidden;
	clear:both;
	position:absolute;
	top:198px;
	left:50%;
	margin-left:-453px;
	color:#e5e5e5;
}
.flexslider2 li div .mtxt {
	width:345px;
	float:right;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.flexslider2 li div .mtxt dt {
	line-height:1.1;
	padding-bottom:15px;
	font-size:55px;
}
.flexslider2 li div .mtxt dd .mDates {
	border-bottom:#e5e5e5 1px solid;
	line-height:1.2;
	padding-bottom:6px;
}
.flexslider2 li div .mtxt dd .mTimes {
	padding:22px 0 31px;
}
.flexslider2 li div .mtxt dd .mbtn {
	text-align:right;
}
.flexslider2 .prev {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-20px;
	margin-left:-562px;
}
.flexslider2 .next {
	position:absolute;
	top:50%;
	right:50%;
	margin-top:-20px;
	margin-right:-562px;
}
.flexslider2 li:hover {
	opacity: 0.7;
}
/* カルーセル */
.calWrap {
	width: 100%;
	height: 210px;
	overflow: hidden;
	padding-bottom: 15px;
	position: relative;
}
.calWrap_inner {
	width: 317px;
	height: 210px;
	margin: 0 auto;
	position: relative;
}
.calWrap_inner:before {
	content: "";
	display: block;
	width: 1200px;
	height: 180px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 663px;
	z-index: 999;
}
.calWrap_inner:after {
	content: "";
	display: block;
	width: 1200px;
	height: 180px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	right: 664px;
	z-index: 999;
}

#loopBannerArea {
	width:3600px;
	clear:both;
	position:absolute;
	left: 50%;
/*	margin-left: -1486px;*/
	margin-left: -1155px;
}
.loopslider li a {
	display: block;
	text-align: center;
	color: #606060;
}
.loopslider li a:hover {
	opacity: 0.7;
	border-bottom:none;
}
.loopslider li span {
	display: block;
	text-align: center;
	color: #606060;
	font-size: 14px;
	line-height: 1em;
	margin-top: 10px;
}

#loopBannerArea .bx-wrapper .bx-prev {
	background: url("../images/top/loop_prev.png") no-repeat left top!important;
	display: none;
}
#loopBannerArea .bx-wrapper .bx-next {
	background: url("../images/top/loop_next.png") no-repeat left top!important;
	display: none;
}
.calWrap .slideBefore {
	background: url("../images/top/loop_prev.png") no-repeat left top;
	display: block;
	width: 28px;
	height: 37px;
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 9999;
	cursor: pointer;
}
.calWrap .slideAfter {
	background: url("../images/top/loop_next.png") no-repeat left top;
	display: block;
	width: 28px;
	height: 37px;
	position: absolute;
	top: 80px;
	right: 0;
	z-index: 9999;
	cursor: pointer;
}

/* .conceptTop */
.conceptTop {
	padding:66px 0 0;
}
.conceptTop .bnr {
	width:100%;
	clear:both;
	text-align:center;
	margin-bottom: 60px;
}
.conceptTop .bnr li {
	width: 475px;
	height: 220px;
	float: left;
	margin: 0 0 30px 30px;
	position: relative;
	overflow: hidden;
}
.conceptTop .bnr li:nth-child(odd) {
	margin-left: 0;
}
.conceptTop .bnr li img {
	position: absolute;
	width: 475px;
	height: 220px;
	top: 0;
	left: 0;
	z-index: 15;
}
.conceptTop .bnr li img.bgov {
	z-index: 10;
}
.conceptTop .bnr li a {
	display: block;
}
.conceptTop .txt {
	text-align:center;
	line-height:2;
	padding:26px 0 53px;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}
.conceptTop .lheight {
	line-height:2.5;
}

/* .newsTop */
.newsTop {
	padding:64px 0 0;
	font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	background: #e6e6e6;
	padding-bottom: 104px;
}
.newsTop .news {
	width:876px;
	margin:0 auto;
	clear:both;
	border-top:#656565 1px solid;
	border-bottom:#656565 1px solid;
	padding:2px 0;
	margin-bottom:41px;
}
.newsTop .news ul {
	width:100%;
	border-top:#656565 1px solid;
	border-bottom:#656565 1px solid;
	clear:both;
}
.newsTop .news ul li {
	width:100%;
	overflow:hidden;
	clear:both;
	border-bottom:#656565 1px dotted;
	padding:17px 0 20px;
}
.newsTop .news ul li.noln {
	border-bottom:none;
}
.newsTop .news ul li .ico {
	width:86px;
	float:left;
	padding:0 17px;
	font-size:0;
	line-height:0;
}
.newsTop .news ul li .dates {
	width:120px;
	float:left;
}
.newsTop .news ul li .txt {
	width:636px;
	float:right;
}
.newsTop .news ul li .txt a {
	color:#323232;
}

/* オープニングスライド */
#op {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #000;
}
#op.bgWh {
	background: #fff;
}
/*  #op_header  */
#op_header {
	width:100%;
	min-width:1300px;
	clear:both;
	position: absolute;
	top: 0;
	left: 0;
	z-index:9999;
}
#op_header .inner {
	width:1300px;
	height:70px;
	margin:0 auto;
	overflow:hidden;
}
#op_header .hnavi {
	width:133px;
	overflow:hidden;
	float:right;
	font-size:0;
	line-height:0;
	padding-top:23px;
}
#op_header .hnavi dt {
	float:left;
	padding:2px 7px 0 0;
}
#op_header .hnavi dd {
	float:left;
	padding-right:5px;
}
#op_navi {
	width:1000px;
	float:left;
	overflow:hidden;
	padding:25px 0 0 130px;
}
#op_navi li {
	font-size:0;
	line-height:0;
	float:left;
	padding:0 0 0 30px;
}
#op .slide_img {
	position: absolute;
	width: 300px;
	height: 430px;
	top: 100px;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 50;
}
#op .op_bottom {
	display: none;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 30;
}
#op_slide {
	display: none;
}
#op_slide li {
	width: 100%;
}
#op_slide .slide1v2 {
	background: url("../images/top/op/slide_01v2.jpg") no-repeat center center;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
#op_slide .slide2v2 {
	background: url("../images/top/op/slide_02v2.jpg") no-repeat center center;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
#op_slide .slide3v2 {
	background: url("../images/top/op/slide_03v2.jpg") no-repeat center center;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
#op_slide .slide4v2 {
	background: url("../images/top/op/slide_04v2.jpg") no-repeat center center;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}

/* bxSlider */

.bx-wrapper .bx-viewport {
	box-shadow: none!important;
	left: 0!important;
	border: none!important;
	background: transparent!important;
}
.bx-wrapper .bx-controls-direction a {
	margin-top: -14px!important;
	width: 16px!important;
	height: 28px!important;
}
.bx-wrapper .bx-prev {
	left: 1000px!important;
	background: url("../images/top/btn_prev.png") no-repeat 0 0!important;
}
.bx-wrapper .bx-next {
	right: 1000px!important;
	background: url("../images/top/btn_next.png") no-repeat 0 0!important;
}

#btn_scrl {
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
	margin: auto;
	width: 46px;
	height: 24px;
	z-index: 100;
	cursor: pointer;
	opacity: 0;
}

.op_logo {
	display: none;
	width: 270px;
	position: absolute;
	top: 130px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1000;
}

.bx-wrapper {
	max-width: 200%!important;
}
.bx-wrapper .bx-pager {
	bottom: 30px!important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #656565!important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #e50012!important;
}

/* 追加 */
.conceptTop .appTxt {
	line-height: 2em;
	padding: 25px 0 45px 0;
	color: #747474;
	letter-spacing: 2px;
}

.pickUp {
	background: #e6e6e6;
	padding: 50px 0 85px 0;
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	color: #747474;
}
.pickUp .pickTxt {
	line-height: 2em;
	padding: 25px 0 45px 0;
	text-align: center;
	letter-spacing: 2px;
}
.pickUp .picklist li {
	background: #fff;
	width: 307px;
	text-align: center;
	float: left;
	margin-left: 29px;
	padding-bottom: 12px;
	position: relative;
	letter-spacing: 2px;
}
.pickUp .picklist li.ic_pick a:before {
	content: url("../images/top/icon_pickup.png");
	display: block;
	position: absolute;
	top: -4px;
	left: -4px;
}
.pickUp .picklist li:first-child {
	margin-left: 0;
}
.pickUp .picklist li a {
	display: block;
	color: #747474;
	text-decoration: none;
}
.pickUp .picklist li a:hover {
	opacity: 0.7;
}
.pickUp .picklist li h4 {
	line-height: 1em;
	font-size: 16px;
	padding: 15px 0 8px 0;
}
.pickUp .picklist li p {
	font-size: 14px;
	line-height: 1.4em;
}

.pla {
	padding: 50px 0;
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	color: #747474;
}
.pla .plaTxt {
	line-height: 2em;
	padding: 25px 0 0 0;
	text-align: center;
	letter-spacing: 2px;
}
.pla_calWrap {
	width: 100%;
	height: 245px;
	padding-top: 30px;
	overflow: hidden;
}
.pla_calInner {
	width: 250px;
	height: 245px;
	margin: 0 auto;
	position: relative;
}
.pla_calmr {
	width: 2456px;
	clear:both;
	position:absolute;
	left: 50%;
	margin-left: -1228px;
}
#pla_cal li {
	color: #747474;
	text-align: center;
	width: 250px;
	height: 245px;
}
#pla_cal li a {
	color: #747474;
	display: block;
	position: relative;
	width: 250px;
	height: 245px;
}
#pla_cal li a:hover {
	opacity: 0.7;
}
#pla_cal li a img {
	/*position: absolute;*/
	width: 250px;
	/*top: 15px;
	left: 50%;
	margin-left: -125px;*/
}
#pla_cal li a span {
	display: block;
	font-size: 14px;
	line-height: 1em;
	letter-spacing: 3px;
	padding-top: 10px;
	width: 100%;
	/*position: absolute;
	bottom: 5px;
	left: 0;*/
}
.pla .list_btn a {
	display: block;
	border: 1px solid #acacac;
	color: #747474;
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HG明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
	text-align: center;
	font-size: 10px;
	line-height: 1em;
	padding: 10px 0;
	width: 112px;
	margin: 40px auto 0;
	letter-spacing: 2px;
}
.pla .bx-wrapper img {
	max-width: 200%!important;
}
.pla .bx-wrapper .bx-viewport {
	overflow: visible!important;
}